$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1024;
$containerPadding: 32;

$containerWidth: $maxWidthContainer + $containerPadding;

$xxl: 1535.98px;
$xl: 1279.98px;
$lg: 1023.98px;
$md: 767.98px;
$sm: 639.98px;

// 1 = responsiveness; !1 = breakpoint-based container
$adaptiveType: 1;
