@use '@/application/styles/module' as *;

.sidebar {
  position: sticky;
  top: $header-height;
  bottom: 0;
  flex: 0 0 $sidebar-width;
  align-self: stretch;
  max-height: calc(100dvh - #{$header-height});
  overflow: hidden auto;
  background: var(--sidebar-bg);
  border-right: rem(1) solid var(--border-color);

  @media (max-width: $lg) {
    display: none;
  }

  // .sidebar__nav
  &__nav {
    padding: rem(24);
  }
}
