@use '@/application/styles/module' as *;

.semiCircleProgressView {
  // .semiCircleProgressView__container
  &__container {
    @extend %container;
  }

  // .semiCircleProgressView__stage
  &__stage {
    display: flex;
    justify-content: center;
    padding: rem(24);
    background: var(--muted-bg);
    border: rem(1) solid var(--border-color);
    border-radius: rem(12);
  }
}
