@use '@/application/styles/module' as *;

:global(#html) {
  color-scheme: light dark;
}

.notFound {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  // .notFound__container
  &__container {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
  }

  // .notFound__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .notFound__content
  &__content {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: stretch;
    justify-content: center;
    max-width: 100%;
    padding-right: rem(16);
    padding-left: rem(16);
    text-align: center;

    @media (max-width: $sm) {
      flex-direction: column;
      gap: rem(8);
      align-items: center;
    }
  }

  // .notFound__title
  &__title {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-right: rem(24);
    margin-right: rem(24);
    font-size: rem(30);
    font-weight: 800;
    line-height: 1.2;
    color: var(--main-color);
    letter-spacing: -0.025em;
    border-right-color: $gray90010;
    border-right-style: solid;
    border-right-width: rem(1);

     @include on-dark {
      border-right-color: $gray30010;
    }

    @media (max-width: $sm) {
      padding-right: 0;
      margin-right: 0;
      font-size: rem(24);
      border-right: none;
    }
  }

  // .notFound__box
  &__box {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    align-items: flex-start;
    justify-content: center;
    max-width: rem(480);
    text-align: left;

    @media (max-width: $sm) {
      align-items: center;
      text-align: center;
    }
  }

  // .notFound__subTitle
  &__subTitle {
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.5;
    color: var(--muted-color);
  }

  // .notFound__description
  &__description {
    font-size: rem(14);
    line-height: 1.5;
    color: var(--muted-color);
    text-align: left;

    @media (max-width: $sm) {
      text-align: center;
    }
  }
}
