@use '@/application/styles/module' as *;

.sidebarDrawer {
  // .sidebarDrawer__overlay
  &__overlay {
    position: fixed;
    top: calc($headerHeight + $sidebarMobileNavHeight);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    background: $black45;
  }

  // .sidebarDrawer__content
  &__content {
    position: fixed;
    top: calc($headerHeight + $sidebarMobileNavHeight);
    bottom: 0;
    left: 0;
    z-index: 901;
    display: flex;
    flex-direction: column;
    width: $sidebarWidth;
    background: var(--sidebarBg);
    border-right: rem(1) solid var(--borderColor);
    box-shadow: rem(4) 0 rem(24) $black14;

    @include onDark {
      box-shadow: rem(4) 0 rem(32) $black45;
    }
  }

  // .sidebarDrawer__title
  &__title {
    @extend %srOnly;
  }

  // .sidebarDrawer__nav
  &__nav {
    padding: rem(24) rem(24) rem(64);
  }
}
