@use '@/application/styles/module' as *;

.sidebarDrawer {
  // .sidebarDrawer__overlay
  &__overlay {
    position: fixed;
    top: calc($header-height + $sidebar-mobile-nav-height);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    background: $black45;
  }

  // .sidebarDrawer__content
  &__content {
    position: fixed;
    top: calc($header-height + $sidebar-mobile-nav-height);
    bottom: 0;
    left: 0;
    z-index: 901;
    display: flex;
    flex-direction: column;
    width: $sidebar-width;
    background: var(--sidebar-bg);
    border-right: rem(1) solid var(--border-color);
    box-shadow: rem(4) 0 rem(24) $black14;

     @include on-dark {
      box-shadow: rem(4) 0 rem(32) $black45;
    }
  }

  // .sidebarDrawer__title
  &__title {
    @extend %sr-only;
  }

  // .sidebarDrawer__nav
  &__nav {
    padding: rem(24) rem(24) rem(64);
  }
}
