{
  "extends": [
    "stylelint-config-recess-order",
    "stylelint-config-recommended-scss"
  ],
  "plugins": ["stylelint-color-format"],
  "rules": {
    "block-no-empty": null,
    "color-format/format": {
      "format": "hsl"
    },
    "color-function-notation": "modern",
    "color-hex-length": "short",
    "color-no-hex": true,
    "color-named": "never",
    "no-empty-source": null,
    "rule-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "scss/operator-no-newline-after": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
