@use './module' as *;

table {
  border-collapse: collapse;
  border-radius: rem(4);

  thead {
    tr {
      background: var(--muted-bg);
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background: var(--border-color);
      }

      &:nth-child(even) {
        background: var(--muted-bg);
      }
    }
  }

  td {
    padding: rem(16) rem(20);
  }
}

code {
  padding: em(2, 14) em(6, 14);
  font-family: $secondary-font-family;
  font-size: rem(14);
  font-weight: 500;
  color: var(--main-color);
  background: var(--muted-bg);
  border-radius: em(6, 14);
}
